<!DOCTYPE html>
<html>
	<head>
		<title>TestWebim</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Главная</a> |
			<a href="/login">Войти</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Главная</a> |
			<a href="/account">Аккаунт</a> |
			<a href="/logout">Выйти</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
